* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* NAVBAR */

.navbar {
    background: #45445F;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#logo {
    color: #DFDFDF;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#logo-img {
    width: 70%;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 80px;
}

.navbar_link {
    color: #DFDFDF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #EB5E55;
    color: #EEF0F3;
    transition: all 0.3s ease;
}

.navbar_link:hover {
    color: #EB5E55;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #D81E5B;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar_menu.active {
        background: #45445F;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #logo {
        padding-left: 25px;
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #DFDFDF;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar_link {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar_btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*HELLO MY NAME IS */

.hello {
    background: #343434;
    padding: 100px 0;
}

.hello_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.hello_heading {
    font-size: 100px;
    margin-bottom: 250px;
    color: #DFDFDF;
}

.hello_heading span {
    background: #D81E5B; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #EB5E55,
      #D81E5B
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #EB5E55,
      #D81E5B
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
}

.hello_description {
    font-size: 60px;
    color: #DFDFDF;
}

.highlight {
    border-bottom: 4px solid #EB5E55;
}


@media screen and (max-width: 768px) {
    .hello_heading {
      font-size: 60px;
    }
  
    .hello_heading span {
        font-size: 52px;
    }
    .hello_description {
      font-size: 40px;
    }
}

/*MAIN */

.main {
    background-color: #343434;
    padding: 10rem 0 0 0;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main_content {
    color: #fff;
    width: 100%;
  }
  
.main_content h1 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 32px;
    background: #D81E5B; 
    background: -webkit-linear-gradient( to right, #EB5E55,#D81E5B); 
    background: linear-gradient(to right,#EB5E55,#D81E5B); 
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
}
  
  
.main_content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}
  
.main_btn {
    font-size: 1.8rem;
    background: #EB5E55;
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}
  
.main_btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
  
.main_btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #D81E5B;
    transition: all 0.35s;
    border-radius: 4px;
}
  
.main_btn:hover {
    color: #fff;
}
  
.main_btn:hover:after {
    width: 100%;
}
  
.main_img-container {
    text-align: center;
}

.main cite{
    color: white;
    font-size: 6pt;
}


@media screen and (max-width: 1100px) {
    .main_container {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      height: 90%;
    }
  
    .main_img-container {
      display: flex;
      justify-content: center;
    }

    .main_content {
      text-align: center;
      margin-bottom: 4rem;
    }
  
    .main_content h1 {
      font-size: 2.5rem;
      margin-top: 2rem;
    }
  
    .main_content p {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
}
  
  @media screen and (max-width: 480px) {
  
    .main_content h1 {
      font-size: 2rem;
      margin-top: 3rem;
    }
  
    .main_content p {
      margin-top: 2rem;
    }
  
    .main_btn {
      padding: 12px 36px;
      margin: 2.5rem 0;
    }
}

/*portfolio */

.portfolio {
    background: #343434;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20rem 0 10rem 0;
}
  
.portfolio h1 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
    background: #D81E5B; 
    background: -webkit-linear-gradient( to right, #EB5E55,#D81E5B); 
    background: linear-gradient(to right,#EB5E55,#D81E5B); 
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
}
  
.portfolio_wrapper {
    display: flex; 
  }
  
.portfolio_card {
    margin: 10px;
    height: 350px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #131313;
    background: rgb(123,120,185);
    background: linear-gradient(0deg, rgba(123,120,185,1) 5%, rgba(223,223,223,1) 50%, rgba(123,120,185,1) 95%);
    transition: 0.3s ease-in;
}
  
.portfolio_card:nth-child(2) {  
    background: rgb(235,94,85);
    background: linear-gradient(0deg, rgba(235,94,85,1) 5%, rgba(223,223,223,1) 50%, rgba(235,94,85,1) 95%);
} 
.portfolio_card:nth-child(3) {
    background: rgb(216,30,91);
    background: linear-gradient(0deg, rgba(216,30,91,1) 5%, rgba(223,223,223,1) 50%, rgba(216,30,91,1) 95%);
}
  
.portfolio_card h2 {
    text-align: center;
}
  
.portfolio_card p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
}
  
.portfolio_btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
.portfolio_btn a{
    text-decoration: none;
    color: #fff;
}
  
.portfolio_card button {
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #131313;
    font-size: 1rem;
}
  
.portfolio_card button:hover {
    cursor: pointer;
}
  
.portfolio_card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
}
  
@media screen and (max-width: 1300px) {
    .portfolio_wrapper {
      flex-direction: row;
    }
}
  
@media screen and (max-width: 990px) {
    .portfolio_wrapper {
      flex-direction: column;
    }
}
  
/* CONTACT*/
#contact {
    background-color: #131313;
}

.fa-brands {
    background-color: #131313;
    text-decoration: none;
    color: #DFDFDF;
    margin: 30px 20px 0 0;
    cursor: pointer;
    transition: all 0.6s ease-out;
}

.fa-brands:hover{
    color: #D81E5B;
}

/*FOOTER*/
#footer {
    padding: 30px 0;
    background-color: #343434;
    text-align: center;
    color: #DFDFDF;
}
#footer a {
    color: #DFDFDF;
}